/*Demo styles*/
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*-webkit-box-pack: center;*/
    /*-ms-flex-pack: center;*/
    /*-webkit-justify-content: center;*/
    /*justify-content: center;*/
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*-webkit-align-items: center;*/
    /*align-items: center;*/

}
/*第一屏*/
.swiper-slide.one{
    background: url("../img/onebg.jpg") no-repeat;
    background-size: 100% 100%;
}
.swiper-slide.one .top{
    width: 70%;
    height:45%;
    overflow: hidden;
    margin: 0 auto;
    margin-top:8%;
}
.swiper-slide.one .top img{
    width: 100%;
    /*animation: self 2s linear;*/
}
/*@keyframes self {*/
    /*0%{transform: rotateY(0deg);}*/
    /*100%{transform: rotateY(360deg);}*/
/*}*/
.swiper-slide.one .center{
    width: 70%;
    height:30%;
    margin: 0 auto;
    margin-top: 8%;
    position: relative;
}
.swiper-slide.one .center .left{
    width:30%;
    position: absolute;
    left: 0;
    /*animation: opg 2s linear;*/
}
/*@keyframes opg {*/
    /*0%{transform: scale(2);*/
    /*opacity: 0;}*/
    /*100%{transform: scale(1);*/
    /*opacity: 1}*/
/*}*/
.swiper-slide.one .center .img{
    width:100%;
    position: absolute;
    right: 0;
    top: 8%;
    height: 80%;
    /*animation: jpg 2s;*/
}
/*@keyframes jpg {*/
    /*0%{transform: rotate(0deg);*/
    /*opacity: 0;}*/
    /*100%{transform: rotate(360deg);*/
    /*opacity: 1;}*/
/*}*/
.swiper-slide.one .bottom{
    width:50%;
    height: 10%;
    color: #fff;
    margin: 0 auto;
    /*animation: pang 1s linear;*/
    /*animation-fill-mode: forwards;*/
}
.swiper-slide.one .bottom .out{
    float: left;
    line-height: 5vw;
    font-size: 7vw;
}
/*@keyframes pang {*/
    /*0%{opacity: 0;*/
    /*margin-top:20%}*/
    /*100%{opacity: 1;*/
    /*margin-top:0;}*/
/*}*/

/*第二屏*/
.swiper-slide.two {
    background: url("../img/twobg.jpg");
    background-size: 100% 100%;
    position: relative;
}
.swiper-slide.two img{
    width: 100%;
}
.swiper-slide.two .top{
    width: 40%;
    height: 25%;
    border: 5px solid white;
    position: absolute;
    top: 10%;
    left: 10%;
    overflow: hidden;
    z-index: 1;
}
.swiper-slide.two .center{
    width: 65%;
    height: 30%;
    border: 5px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    z-index: 2;
}
.swiper-slide.two .bottom{
    width: 40%;
    height: 25%;
    border: 5px solid white;
    position: absolute;
    bottom: 10%;
    right: 10%;
    overflow: hidden;
    z-index: 1;
}
/*第三屏*/
.swiper-slide.three .top{
    width: 100%;
    height: 100%;
}
.swiper-slide.three .top img{
    width: 100%;
    height: 100%;
}
.swiper-slide.three .center{
    position: absolute;
    top:2%;
}
.swiper-slide.three .center img{
    width: 100%;
}
.swiper-slide.three .bottom{
    position: absolute;
    top: 10%;
}
.swiper-slide.three .bottom img{
    width: 100%;
}
/*第四屏*/







.swiper-button-next {
    position: absolute;
    bottom: 5%;
    left: 47%;
    top: auto;
    transform: rotateZ(-90deg);

    /*background-image:url("../img/jiezhi.png") ;*/
    /*animation: img 1s linear infinite;*/
}
/*.swiper-button-prev{*/
    /*position: absolute;*/
    /*top: 5%;*/
    /*left: 47%;*/
    /*transform: rotateZ(270deg);*/
/*}*/
/*@keyframes img {*/
    /*from{*/
        /*bottom: 0;*/
        /*opacity: 1;*/
    /*}*/
    /*to{*/
        /*bottom: 5%;*/
        /*opacity: 0;*/
    /*}*/
/*}*/

/*音乐开始*/
#music{
    width: 60px;
    height: 60px;
    position: fixed;
    right:10px;
    top:10px;
    z-index:2;
}
#music .music_bg{
    width: 60px;
    height: 60px;
}
#music .music_tu{
    position: absolute;
    top:8px;
    left: 8px;
    animation: run 2s 0s linear infinite;
}
@keyframes run {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
/*音乐结束*/